// Contact Us Page
main#contact {
    width: 100%;
    position: relative;

    @media only screen and (max-width: 47.975em) {
        font-size: 3.2vw;
        /* mintab 480w */
    }

    @media only screen and (min-width: 48em) {
        font-size: 1.7vw;
        /* mintab 480w */
    }

    @media only screen and (min-width: 64em) {
        font-size: inherit;
        /* custom opt-out 979oo */
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 2em 1em;
        max-width: calc(1150/20)*1em;
        margin: 0 auto 1em;

        @media only screen and (min-width: 48em) {
            padding: 5em 1em;
            justify-content: space-between;
            flex-direction: row;
        }

        @media only screen and (min-width: 64em) {
            padding: 5em 0;
        }

        // Form 
        .info {
            width: 100%;
            padding: 2em 2em;
            margin: 0 0 0em;
            background-color: #f8f9fa;
            border-radius: .5em;

            @media only screen and (min-width: 48em) {
                max-width: calc(500/20)*1em;
                margin: 0 0em 0 0;
            }

            ul {
                li {
                    list-style: none;
                    margin-bottom: 1em;

                    strong {
                        font-size: .9em;
                    }

                    p {
                        font-size: .9em;
                        margin: 0;
                        color: #202020;
                    }

                    a,
                    .hr {
                        color: #202020;
                        text-decoration: none;
                        font-size: .8em;
                    }

                    a {
                        color: var(--primary-color);
                    }
                }
            }
        }

        .form-container {
            width: 100%;
            max-width: calc(600/20)*1em;
            margin-bottom: 3em;

            h2 {
                font-size: 2.5em;
                margin-bottom: .2em;
            }

            p {
                margin-bottom: 2em;
                font-size: .9em;
                width: 90%;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                @media only screen and (min-width: 48em) {
                    border-radius: .5em;
                    box-shadow: var(--box-shadow);
                    padding: 2em;
                }

                .form-control {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    position: relative;
                    margin-bottom: 1em;

                    label {
                        color: #202020;
                        font-size: .9em;
                        margin-bottom: .2em;

                        @media only screen and (max-width: 768px) {
                            font-size: 17px;
                        }
                    }

                    input[type='text'],
                    input[type='number'],
                    input[type='email'],
                    select {
                        border: 0;
                        padding: .5em;
                        color: rgba(0, 0, 0, .4);
                        outline: none;
                        position: relative;
                        width: 100%;
                        display: block;
                        font-size: .9em;
                        font-family: inherit;
                        caret-color: black;
                        border: 1px solid rgba(0, 0, 0, .2);
                        border-radius: .2em;
                        transition: border .33s ease;

                        @media only screen and (max-width: 600px) {
                            font-size: 16px;
                        }

                        &::placeholder {
                            color: rgba(0, 0, 0, .4);
                            font-weight: 400;
                        }

                        &:focus,
                        &:active {
                            border: 1px solid var(--primary-color);
                        }
                    }

                    textarea {
                        resize: none;
                        border: 0;
                        padding: .5em;
                        outline: none;
                        font-size: .9em;
                        color: rgba(0, 0, 0, .4);
                        border: 1px solid rgba(0, 0, 0, .2);
                        border-radius: .2em;
                        font-family: inherit;

                        @media only screen and (max-width: 767px) {
                            font-size: 16px;
                        }

                        &::placeholder {
                            color: rgba(0, 0, 0, .4);
                            font-weight: 400;
                            font-weight: 400;
                            font-style: normal;
                        }

                        &:focus,
                        &:active {
                            border: 1px solid var(--primary-color);
                        }
                    }

                    select {
                        width: 100%;
                        padding: 1em;
                        -webkit-appearance: none;
                        background-image: url(/down-chevron.svg);
                        background-position: right 0.75em center;
                        background-repeat: no-repeat;
                        background-size: calc(14/20)*1em;
                        background-color: white;
                        border-radius: 0;

                        &:active,
                        &:hover {
                            border-bottom: 1px solid --main-primary-color;
                        }
                    }

                    &.active {
                        &::before {
                            width: 100%;
                        }
                    }
                }

                #submit {
                    padding: 1em;
                    border: 0;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: .025em;
                    width: 100%;
                    transition: background-color .33s ease;
                    position: relative;
                    background-color: var(--primary-color);
                    overflow: hidden;
                    border-radius: .2em;

                    span {
                        color: white;
                        position: relative;
                        z-index: 2;
                    }

                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        transition: all .33s ease;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 1;
                        display: block;
                        background: #202020;
                        transform: translateY(-100%);
                        border-radius: .2em;
                    }

                    &:hover {
                        &::before {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }

    .map {
        width: 100%;
        max-width: calc(1200/20)*1em;
        margin: auto;
        height: 15em;
        position: relative;
        display: block;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}